<!--
<link rel="hipoh" sizes="144x144" href="{{ "favicon.png" | relative_url }}" />
<link rel="hipoh" href="{{ "favicon.ico" | relative_url}}" />
-->

<link rel="shortcut icon" href="/hydeout/favicon.ico">
<link rel="icon" sizes="16x16 32x32 64x64" href="/hydeout/favicon.ico">
<link rel="icon" type="image/png" sizes="196x196" href="/hydeout/favicon-192.png">
<link rel="icon" type="image/png" sizes="160x160" href="/hydeout/favicon-160.png">
<link rel="icon" type="image/png" sizes="96x96" href="/hydeout/favicon-96.png">
<link rel="icon" type="image/png" sizes="64x64" href="/hydeout/favicon-64.png">
<link rel="icon" type="image/png" sizes="32x32" href="/hydeout/favicon-32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/hydeout/favicon-16.png">
<link rel="apple-touch-icon" href="/hydeout/favicon-57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/hydeout/favicon-114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/hydeout/favicon-72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/hydeout/favicon-144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/hydeout/favicon-60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/hydeout/favicon-120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/hydeout/favicon-76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/hydeout/favicon-152.png">
<link rel="apple-touch-icon" sizes="180x180" href="/hydeout/favicon-180.png">
<meta name="msapplication-TileColor" content="#FFFFFF">
<meta name="msapplication-TileImage" content="/hydeout/favicon-144.png">
<meta name="msapplication-config" content="/browserconfig.xml">